* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: #d7c6c4;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.page-contaner {
  border: 2px solid rgb(45, 204, 24);
  background: rgb(99, 99, 99);
  position: relative;
  width: 1255px;
  height: 574px;
  margin: 0 auto;
}

header {
  position: absolute;
  border: 1px solid rgb(190, 31, 25);
  height: 40px;
  width: 100%;

}
header h1 {
  padding: 0;
  margin: 0;
}

main {
  border: 1px solid rgb(28, 25, 190);
  position: absolute;
  top: 40px; /* Header Height */
  bottom: 30px; /* Footer Height */
  width: 100%;

}


.img-contaner {
  border: 2px solid rgb(176, 25, 190);
  /* background-color: cornflowerblue; */
  background: url("../img/france-map-kids.jpg");
  background-repeat: round;
  background-size: contain;
  position:absolute;
  margin: 0 auto;
  height: 460px;
  width:  1200px;
  left: 2%;


}

footer {
  border: 1px solid rgb(190, 31, 25);
  height: 30px;
  position: absolute;
  bottom: 0;
  width:100%;
}

footer h1 {
  padding: 0;
  margin: 0;
}
